* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightcyan;
}

.fruits-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.fruit {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
